.section-title {
  .title {
    margin-bottom: 0;
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 0.3rem 0.6rem;
  }
}

.custom-card {
  border: 1px solid #f2f2f2;
  padding: 1rem;
  border-radius: 2px;
  background-color: var(--theme-light-color);
  font-size: 14px;
}

.custom-badge {
  padding: 0.3rem;
  color: #db2f06;
  background-color: #fae8e4;
  font-size: 10px;
  border-radius: 2px;
  position: absolute;
  top: 1;
  left: 1;
  font-weight: 500;
}

// flash-sale section

.flash-banner {
  img {
    height: 450px;
  }
}

.count {
  font-weight: 700;
  font-size: 14px;
}

.flash-product-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;

  .flash-product-card {
    @extend .custom-card;
    position: relative;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .body {
      .title {
        font-weight: 500;
      }
      .rating {
        font-size: 13px;
        margin: 0.4rem 0;
        .star {
          color: #f6c441;
        }
      }
      .offer-price {
        font-size: 12px;
      }
    }
    .sale-badge {
      @extend .custom-badge;
    }
    .new-badge {
      @extend .custom-badge;
      background: rgba(23, 32, 29, 0.1) !important;
      color: var(--primary-color) !important;
    }

    .details {
      .d-btn {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: transparent;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(--primary-color);
          color: var(--theme-light-color);
        }
      }
    }
  }
}

.timer {
  p {
    margin-bottom: 0;
    .count {
      color: #554fa6;
      background-color: #d3d1f3;
      border-radius: 4px;
      padding: 0.3rem;
      margin: 0 0.1rem;
    }
  }
}

// trending product section
.trending-product-card {
  @extend .custom-card;
  position: relative;
  margin: 10px 0;

  .sale-badge {
    @extend .custom-badge;
  }
  .product-img {
    width: 85%;
  }
  .title {
    font-weight: 500;
  }
  .rating {
    font-size: 13px;
    .star {
      color: #f6c441;
    }
  }
  .offer-price {
    font-size: 12px;
  }
}

// slick slider customization
.slick-next:before {
  content: f061 !important;
}
.slick-slider {
  display: inline-block;
  padding: 1rem 0;
}
.slick-list {
  display: inline-block;
}
.slick-list .slick-slide {
  padding: 0 !important;
}
.slick-dots {
  bottom: 0px !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-list {
  max-width: 150px;
  margin: 0 auto;
}
.slick-list .slick-slide {
  font-size: 30px;
  text-align: center;
  padding: 40px 20px;
  line-height: 2;
  font-weight: 700;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primary-color);
}
.slick-next {
  right: -20px;
}
.slick-prev {
  left: -20px;
}

// responsiveness

@media only screen and (max-width: 1400px) {
  .flash-banner {
    img {
      height: 418px;
    }
  }
  .flash-product-section .flash-product-card {
    height: 380px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .flash-product-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .flash-product-section {
    grid-template-columns: 1fr;
  }
  .ter-title {
    font-size: 1.1rem;
  }
  .timer p .count {
    font-size: 0.9rem;
  }

  .flash-banner {
    img {
      height: auto !important;
    }
  }
  .flash-product-section .flash-product-card {
    height: auto !important;
  }
}
